matiere/src/main/resources/matiere.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://groupeisi.com/matiere"
             xmlns:tns="http://groupeisi.com/matiere">

    <message name="GetAllMatieresRequest"/>
    <message name="GetAllMatieresResponse">
        <part name="parameters" element="tns:GetAllMatieresResponse"/>
    </message>

    <message name="CreateMatiereRequest">
        <part name="libelle" type="xsd:string"/>
        <part name="coefficient" type="xsd:double"/>
    </message>
    <message name="CreateMatiereResponse">
        <part name="id" type="xsd:int"/>
    </message>

    <message name="GetMatiereRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="GetMatiereResponse">
        <part name="id" type="xsd:int"/>
        <part name="libelle" type="xsd:string"/>
        <part name="coefficient" type="xsd:double"/>
    </message>

    <message name="UpdateMatiereRequest">
        <part name="id" type="xsd:int"/>
        <part name="libelle" type="xsd:string"/>
        <part name="coefficient" type="xsd:double"/>
    </message>
    <message name="UpdateMatiereResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <message name="DeleteMatiereRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="DeleteMatiereResponse">
        <part name="status" type="xsd:string"/>
    </message>

    <portType name="MatierePortType">
        <operation name="getAllMatieres">
            <input message="tns:GetAllMatieresRequest"/>
            <output message="tns:GetAllMatieresResponse"/>
        </operation>
        <operation name="createMatiere">
            <input message="tns:CreateMatiereRequest"/>
            <output message="tns:CreateMatiereResponse"/>
        </operation>
        <operation name="getMatiere">
            <input message="tns:GetMatiereRequest"/>
            <output message="tns:GetMatiereResponse"/>
        </operation>
        <operation name="updateMatiere">
            <input message="tns:UpdateMatiereRequest"/>
            <output message="tns:UpdateMatiereResponse"/>
        </operation>
        <operation name="deleteMatiere">
            <input message="tns:DeleteMatiereRequest"/>
            <output message="tns:DeleteMatiereResponse"/>
        </operation>
    </portType>

    <binding name="MatiereBinding" type="tns:MatierePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllMatieres">
            <soap:operation soapAction="http://groupeisi.com/matiere/getAllMatieres"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createMatiere">
            <soap:operation soapAction="http://groupeisi.com/matiere/createMatiere"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMatiere">
            <soap:operation soapAction="http://groupeisi.com/matiere/getMatiere"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateMatiere">
            <soap:operation soapAction="http://groupeisi.com/matiere/updateMatiere"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteMatiere">
            <soap:operation soapAction="http://groupeisi.com/matiere/deleteMatiere"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="MatiereService">
        <port name="MatierePort" binding="tns:MatiereBinding">
            <soap:address location="http://localhost:8092/soap-api"/>
        </port>
    </service>
</definitions>